[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"mastodon.py" = "*"
python-dotenv = "*"
pendulum = "*"
colorama = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3"
